* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --darkBackground: #142850;
    --lightBackground: #fff;
    --CTA1: #f38181;
    --CTA2: #f08a5d;
    --light: #eeeeee;
}

body {
    background-color: var(--darkBackground);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

/* Login */
.login {
    width: 110%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightBackground);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(156, 155, 155, 0.4);
}

.login__title {
    color: var(--);
    font-weight: bolder;
    padding: 0.6rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 90%;
    padding: 0.7rem 1rem;
    margin-bottom: 0.6rem;
    border-radius: 50px;
    background-color: #b2c1c3;
    border: none;
}

::placeholder {
    color: black;
}

.passwordHandle{
    color:#142850;
    cursor:pointer ;

}

.submit__btn {
    width: 80%;
    padding: 0.6rem;
    margin-bottom: 0.6rem;
    border-radius: 10px;
    background-color: #f67272;
    text-align: center;
    color: var(--light);
    font-weight: bolder;
    border: none;
}

.submit__btn:hover {
    background-color: #f65656;
    color: #fff;
}

/* Login Signup */
.signup {
    color: #142850;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 0.6rem;
    text-align: center;
    font-size: 1rem;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-bottom: 0.6rem;
}

.btns {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.6rem;
    margin: 0.6rem;
}

.google {
    font-size: 2rem;
    background-color: #f62e1c;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: white;
}
.google:hover {
    background-color: #f30202;
    color: white;
    cursor: pointer;
}
.github {
    font-size: 2rem;
    background-color: #131010;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: white;
}
.github:hover {
    background-color: #050505;
    color: white;
    cursor: pointer;
}
.anonymous {
    font-size: 2rem;
    background-color: #fc5417;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: white;
}
.anonymous:hover {
    background-color: #ff4500;
    color: white;
    cursor: pointer;
}

/* Home */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--lightBackground);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(156, 155, 155, 0.4);
}

.btn__logout {
    width: 80%;
    padding: 0.6rem;
    margin-bottom: 0.6rem;
    border-radius: 10px;
    background-color: #f67272;
    text-align: center;
    color: var(--light);
    font-weight: bolder;
    border: none;
}

.userName {
    color: #c81175;
    margin-top: 0.6rem;
    text-align: center;
    font-size: 1.2rem;
}

/*  Signup page */
.login__link {
    color: #9cb7ec;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 0.6rem;
    text-align: center;
    font-size: 1rem;
}


